h1{
    color: white;
    text-align: center;
  }
body{
    background-color :rgb(235, 174, 95);	
}
.p{
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}
.G-img img{
    border-radius: 100%;
    width: 200px;
    object-fit: cover;
    text-align: center;
    height: 200px;
    border: 5px black;
}
#row{
    justify-content: center;
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
#row1{
    justify-content: center;
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
nav {
    background-color :rgb(223, 131, 11);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content :space-between;
    width: 100%; 
    margin-top: 0;
    box-shadow: 0px 2px 5px #ccc;
    z-index: 1;
    top: 0;
    height:40px;
    align-items: center;
}
 nav img{
    width:90px;
    height:50px;
    position: relative;
    left:40px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: none;
    width:80px;
    padding-right: 10px;
    margin-top: 0;
    text-decoration: none;
}
nav li{
    margin: 0 10px;

}
nav ul{
    display: flex;
    list-style :none;
    padding: 0;
    }
a:hover{
    color: black;
    background-color:#ded4d4 ;
    border-radius: 10px;
    height:20px;
    padding-left: 25px;
    padding-right: 0;
}
footer{
    color: white ;
    background-color: rgb(223, 131, 11);
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width:100%;
    text-transform: none;
}