h1{
    color:rgb(214, 24, 24);
}
body{
    background-color:#ca8830;
}
nav {
    background-color:rgb(223, 131, 11);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    display:flex;
    justify-content:space-between;
    width:100%;
    margin-top: 0;
    box-shadow: 0px 2px 5px #ccc;
    z-index: 1;
    top: 0;
    height:40px;
    align-items: center;
}
img{
    width:90px;
    height: 50px;
    position: relative;
    left:40px;
}
nav a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform:none;
    width:80px;
    padding-right: 10px;
    margin-top: 0;
    text-decoration: none;
}
nav li{
    margin: 0 10px;
}
nav ul{
display: flex;
list-style:none;
padding: 0;
}
a:hover{
    color:black;
    background-color:#ded4d4 ;
    border-radius: 10px;
    height:20px;
    padding-left: 25px;
    padding-right: 0;
}
#F{
    height:600px;
    background-image:url("1.jpg");
    background-size:cover;
    margin-bottom:2px;
    width: 100%;
}
#wellcom{
    text-align:center;
    margin-top:200px;
    font-size:50px;
    animation: animate 4s infinite;
    position:relative;
}

@keyframes animate{
					
					
    0%{
        color: pink; left:0px; top:0px;
        
        
    }
        
    25%{   color: yellow; left:300px; top:0px; 
        
    }
    50%{
        color: white; left:-300px; top:0px;
        
    }
    
    75%{
        color: orange; left:0px; top:0px;
        
    }
    
    100%{
        color: pink; left:0px; top:-220px;
        
        
    }
}
#M{
    color:white;
    padding-top:200px;
    padding-left:50px;
}
footer{
    color:white ;
    background-color:rgb(223, 131, 11);
    text-align:center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width:100%;
    text-transform:none;
}
